{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "shorturls/favicon.ico" %}">

    <title>Welcome - {% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% block head_css %}
			{% include "shorturls/head_css.html" %}
		{% endblock %}
		
     <!-- JS -->
    {% block head_js %}
			{% include "shorturls/head_js.html" %}
		{% endblock %}
		
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a  href="/"><h3 class="masthead-brand">url shortener</h3></a>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h2 class="cover-heading">Tinny Link Shortener</h2>
            {% block content %}
            {% endblock %}
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>create yours  <a href="http://getbootstrap.com">url shortener</a>, by <a href="https://twitter.com/masedos">@masedos</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap JavaScript
    ================================================== -->
   {% block body_js %}
			{% include "shorturls/body_js.html" %}
	 {% endblock %}
		
  </body>
</html>
