{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="{% static "shorturls/js/jquery.min.js" %}"><\/script>')</script>

<script src="{% static "shorturls/js/jquery.min.js" %}"></script>

<script src="{% static "shorturls/js/bootstrap.min.js" %}"></script>

<script src="{% static "shorturls/js/ie10-viewport-bug-workaround.js" %}"></script>