{% extends "shorturls/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Welcome{% endblock %}


{% block content %}

<p> Short Link: <a href="{{ object.short_url }}">{{ object.short_url }}</a></p>
<p> Original Link: {{ object.url }}</p>

{% endblock %}